
.slider {

	&-wrapper {

		width: auto;
		min-height:600px;
		position: relative;
		overflow: hidden;

		& .slides {
			display: flex;
			position: absolute;
			// transform: translate(0px);
			transition-duration: 1000ms;
		}
		.position {
			transform:translate(-1400px);
			transition-duration: 1000ms;
		}
	}
}

.navigation {
	position: absolute;
	display: flex;
	justify-content: space-between;
	bottom: 20%;
	right: 10%;
	width: 200px;

	&-prev,
	&-next {
		width: 80px;
		height: 40px;
		border: 2px solid red;
	}
}