<div class="slider-wrapper">

	@switch (type) {
		@case("banner") {
			<div class="slides" [style]="position">
				@for (slide of sliderData; track slide.id) {
					<app-banner [banner]="slide"></app-banner>
				}
			</div>
		}
		@case ("product") {
			<div class="slides" [style]="position">
				@for (slide of productItems; track slide.id) {
				<app-product-item [data]="slide"></app-product-item>
				}
			</div>
		}
	}

	<div class="navigation">
		<button class="navigation-prev" (click)="slideToLeft()">prev</button>
		<button class="navigation-next" (click)="slideToRight()">next</button>
	</div>
	<div class="pagination">
		<div class="pagination-dot"></div>
		<div class="pagination-dot"></div>
		<div class="pagination-dot"></div>
		<div class="pagination-dot"></div>
	</div>
</div>
