<div class="banner-wrapper" banner="banner">
	<div class="banner">
		<img class="banner-img" src="{{banner.image}}" alt="">
		<div class="banner-content" [ngClass]="{righttext:banner.rightText}">
			<div class="text-modul">
				<p class="text-title">{{banner.title}}</p>
				<p class="text-description">{{banner.description}}</p>
			</div>
			<div class="banner-price">{{banner.price}} $</div>
			<div class="banner-actions">
				<button class="btn-subscribe btn-yellow">BUY</button>
				<button class="btn-properties btn-black">PROPERTIES</button>
			</div>
		</div>
	</div>
</div>
