<div class="banner-wrapper" banner="banner">
	<div class="banner">
		<img class="banner-img" src="{{banner.image}}" alt="">
		<div class="banner-content" [ngClass]="{righttext:banner.rightText}">
			<div class="text-modul">
				<p class="text-title">{{banner.title}} sdsasd d as ssasd </p>
				<p class="text-description">{{banner.subtitle}} asdasd asdasda sad aasdasd sadasd a asd asd asd asd as asd ad </p>
			</div>
			<div class="banner-actions">
				<button class="btn-subscribe">SUBSCRIBE</button>
				<button class="btn-properties">PROPERTIES</button>
			</div>
		</div>
	</div>
</div>
