/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	color: #000;

	font-family: Poppins;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
	background: none;
	border: none;
}

.btn-main {
    min-width: 120px;
    border-radius: 8px;
    height: 40px;
    font-size: 20px;

    &:hover {
        background: #ccc;
    }
}

.btn-yellow {
    background: #ffca00;
    padding: 10px;
    border-radius: 15px;
    border: none;
}

.btn-black {
	background: #000;
	color: #fff;
	padding: 10px;
	border-radius: 15px;
	border: none;
}

.not-border-btn {
    border: none;
    background: transparent;
}
