/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    margin: 20px auto;
    font-size: 25px;
    text-transform: uppercase;
}

.btn-main {
    min-width: 120px;
    border-radius: 8px;
    height: 40px;
    font-size: 20px;

    &:hover {
        background: #ccc;
    }
}

.btn-yellow {
    background: #ffca00;
    padding: 10px;
    border-radius: 15px;
    border: none;
}

.not-border-btn {
    border: none;
    background: transparent;
}